# Python 的 50+ 練習：資料科學學習手冊

> 日期時間資料操作

[數據交點](https://www.datainpoint.com) | 郭耀仁 <yaojenkuo@datainpoint.com>

## 練習題指引

- 練習題閒置超過 10 分鐘會自動斷線，只要重新點選練習題連結即可重新啟動。
- 第一個程式碼儲存格會將可能用得到的模組載入。
- 如果練習題需要載入檔案，檔案存放絕對路徑為 `/home/jovyan/data`
- 練習題已經給定函數、類別、預期輸入或參數名稱，我們只需要寫作程式區塊。同時也給定函數的類別提示，說明預期輸入以及預期輸出的類別。
- 說明（Docstring）會描述測試如何進行，閱讀說明能夠暸解預期輸入以及預期輸出之間的關係，幫助我們更快解題。
- 請在 `### BEGIN SOLUTION` 與 `### END SOLUTION` 這兩個註解之間寫作函數或者類別的程式區塊。
- 將預期輸出放置在 `return` 保留字之後，若只是用 `print()` 函數將預期輸出印出無法通過測試。
- 語法錯誤（`SyntaxError`）或縮排錯誤（`IndentationError`）等將會導致測試失效，測試之前應該先在筆記本使用函數觀察是否與說明（Docstring）描述的功能相符。
- 如果卡關，可以先看練習題詳解或者複習課程單元影片之後再繼續寫作。
- 執行測試的步驟：
    1. 點選上方選單的 File -> Save Notebook 儲存 exercises.ipynb。
    2. 點選上方選單的 File -> New -> Terminal 開啟終端機。
    3. 在終端機輸入 `python 17-working-with-date-time/test_runner.py` 後按下 Enter 執行測試。

In [115]:
from datetime import date
from datetime import time
from datetime import datetime
from datetime import timedelta
import pandas as pd

## 141. 建立日期物件

定義函數 `create_date_object()` 將輸入的整數轉換為 `date` 類別的實例。

- 運用 `date` 類別。
- 將預期輸出寫在 `return` 之後。

In [117]:
def create_date_object(year: int, month: int, day: int) -> date:
    """
    >>> create_date_object(2021, 12, 31)
    datetime.date(2021, 12, 31)
    >>> type(create_date_object(2021, 12, 31))
    datetime.date
    >>> print(create_date_object(2021, 12, 31))
    2021-12-31
    >>> create_date_object(2022, 1, 1)
    datetime.date(2022, 1, 1)
    >>> type(create_date_object(2022, 1, 1))
    datetime.date
    >>> print(create_date_object(2022, 1, 1))
    2022-01-01
    """
    ### BEGIN SOLUTION
    return date(year, month, day)
    ### END SOLUTION

In [123]:
create_date_object(2021, 12, 31)
type(create_date_object(2021, 12, 31))
print(create_date_object(2021, 12, 31))
create_date_object(2022, 1, 1)
type(create_date_object(2022, 1, 1))
print(create_date_object(2022, 1, 1))

2021-12-31
2022-01-01

## 142. 建立時間物件

定義函數 `create_time_object()` 將輸入的整數轉換為 `time` 類別的實例。

- 運用 `time` 類別。
- 將預期輸出寫在 `return` 之後。

In [125]:
def create_time_object(hour: int, minute: int, second: int) -> time:
    """
    >>> create_time_object(23, 59, 59)
    datetime.time(23, 59, 59)
    >>> type(create_time_object(23, 59, 59))
    datetime.time
    >>> print(create_time_object(23, 59, 59))
    23:59:59
    >>> create_time_object(0, 0, 1)
    datetime.time(0, 0, 1)
    >>> type(create_time_object(0, 0, 1))
    datetime.time
    >>> print(create_time_object(0, 0, 1))
    00:00:01
    """
    ### BEGIN SOLUTION
    return time(hour, minute, second)
    ### END SOLUTION

In [131]:
create_time_object(23, 59, 59)
type(create_time_object(23, 59, 59))
print(create_time_object(23, 59, 59))
create_time_object(0, 0, 1)
type(create_time_object(0, 0, 1))
print(create_time_object(0, 0, 1))

23:59:59
00:00:01

## 143. 建立日期時間物件

定義函數 `create_datetime_object()` 將輸入的 `date` 與 `time` 轉換為 `datetime` 類別的實例。

- 使用 `create_date_object()` 函數。
- 使用 `create_time_object()` 函數。
- 使用 `datetime.combine()`
- 將預期輸出寫在 `return` 之後。

In [150]:
def create_datetime_object(d: date, t: time) -> datetime:
    """
    >>> d = create_date_object(2021, 12, 31)
    >>> t = create_time_object(23, 59, 59)
    >>> create_datetime_object(d, t)
    datetime.datetime(2021, 12, 31, 23, 59, 59)
    >>> type(create_datetime_object(d, t))
    datetime.datetime
    >>> print(create_datetime_object(d, t))
    2021-12-31 23:59:59
    >>> d = create_date_object(2022, 1, 1)
    >>> t = create_time_object(0, 0, 1)
    >>> create_datetime_object(d, t)
    datetime.datetime(2022, 1, 1, 0, 0, 1)
    >>> type(create_datetime_object(d, t))
    datetime.datetime
    >>> print(create_datetime_object(d, t))
    2022-01-01 00:00:01
    """
    ### BEGIN SOLUTION 
    datetime_object = datetime.combine(d, t)
    return datetime_object
    ### END SOLUTION

In [156]:
d = create_date_object(2021, 12, 31)
t = create_time_object(23, 59, 59)
create_datetime_object(d, t)
type(create_datetime_object(d, t))
print(create_datetime_object(d, t))
d = create_date_object(2022, 1, 1)
t = create_time_object(0, 0, 1)
create_datetime_object(d, t)
type(create_datetime_object(d, t))
print(create_datetime_object(d, t))

2021-12-31 23:59:59
2022-01-01 00:00:01

## 144. 昨天的日期 

定義函數 `get_yesterdays_date()` 將輸入日期文字（ISO 8601 格式）的前一天回傳。

- 使用 `date.fromisoformat()`
- 運用 `timedelta` 類別。
- 將預期輸出寫在 `return` 之後。

In [182]:
def get_yesterdays_date(x: str) -> date:
    """
    >>> print(get_yesterdays_date("2022-01-02"))
    2022-01-01
    >>> print(get_yesterdays_date("2022-01-01"))
    2021-12-31
    """
    ### BEGIN SOLUTION
    x_date = date.fromisoformat(x)
    one_day = timedelta(days = 1)
    return x_date - one_day
    ### END SOLUTION

In [185]:
print(get_yesterdays_date("2022-01-02"))
print(get_yesterdays_date("2022-01-01"))

2022-01-01
2021-12-31

In [1]:
# help(date.fromisoformat)
# help(timedelta)

## 145. 前一秒的日期時間  

定義函數 `get_a_second_before_datetime()` 將輸入日期時間文字（ISO 8601 格式）的前一秒回傳。

- 使用 `datetime.fromisoformat()`
- 運用 `timedelta` 類別。
- 將預期輸出寫在 `return` 之後。

In [189]:
def get_a_second_before_datetime(x: str) -> datetime:
    """
    >>> print(get_a_second_before_datetime("2022-01-01 00:00:01"))
    2022-01-01 00:00:00
    >>> print(get_a_second_before_datetime("2022-01-01 00:00:00"))
    2021-12-31 23:59:59
    """
    ### BEGIN SOLUTION
    x_datetime = datetime.fromisoformat(x)
    one_sec = timedelta(seconds = 1)
    return x_datetime - one_sec
    ### END SOLUTION

In [191]:
print(get_a_second_before_datetime("2022-01-01 00:00:01"))
print(get_a_second_before_datetime("2022-01-01 00:00:00"))

2022-01-01 00:00:00
2021-12-31 23:59:59

## 146. 顯示非 ISO 8601 的日期格式 

定義函數 `show_a_non_iso8601_date()` 將輸入的整數顯示為 `%a %b %d` 的日期格式。

來源：<https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes>

- 運用 `date` 類別。
- 使用 `date.strftime()`
- 將預期輸出寫在 `return` 之後。

In [200]:
def show_a_non_iso8601_date(year: int, month: int, day: int) -> str:
    """
    >>> show_a_non_iso8601_date(2021, 12, 31)
    'Fri Dec 31'
    >>> show_a_non_iso8601_date(2022, 1, 1)
    'Sat Jan 01'
    """
    ### BEGIN SOLUTION
    input_date = date(year, month, day)
    return input_date.strftime("%a %b %d")
    ### END SOLUTION

In [202]:
show_a_non_iso8601_date(2021, 12, 31)
show_a_non_iso8601_date(2022, 1, 1)

'Sat Jan 01'

In [195]:
# help(date.strftime)

## 147. 解析非 ISO 8601 的日期時間格式 

定義函數 `parse_a_non_iso8601_datetime()` 將輸入的日期時間文字（`%a %b %d %y %H:%M:%S` 格式）轉換為 ISO 8601 日期時間文字（`%Y-%m-%d %H:%M:%S` 格式）。

來源：<https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes>

- 使用 `datetime.strptime()`
- 使用 `datetime.strftime()`
- 將預期輸出寫在 `return` 之後。

In [205]:
def parse_a_non_iso8601_datetime(x: str) -> str:
    """
    >>> parse_a_non_iso8601_datetime("Fri Dec 31 21 23:59:59")
    '2021-12-31 23:59:59'
    >>> parse_a_non_iso8601_datetime("Sat Jan 01 22 00:00:01")
    '2022-01-01 00:00:01'
    """
    ### BEGIN SOLUTION
    date_time = datetime.strptime(x, "%a %b %d %y %H:%M:%S")
    return date_time.strftime("%Y-%m-%d %H:%M:%S")
    ### END SOLUTION

In [207]:
parse_a_non_iso8601_datetime("Fri Dec 31 21 23:59:59")
parse_a_non_iso8601_datetime("Sat Jan 01 22 00:00:01")

'2022-01-01 00:00:01'

## 148. 載入 `time_series_covid19_confirmed_global.csv`

定義函數 `import_covid19_time_series_confirmed()` 將位於 `/home/jovyan/data/covid19` 路徑的 `time_series_covid19_confirmed_global.csv` 載入。

- 運用絕對路徑。
- 使用 `pd.read_csv()` 函數。
- 將預期輸出寫在 `return` 之後。

In [209]:
def import_covid19_time_series_confirmed() -> pd.core.frame.DataFrame:
    """
    >>> covid19_time_series_confirmed = import_covid19_time_series_confirmed()
    >>> type(covid19_time_series_confirmed)
    pandas.core.frame.DataFrame
    >>> covid19_time_series_confirmed.shape
    (280, 735)
    """
    ### BEGIN SOLUTION
    file_path = "C:\\Users\\Yan-Ju-Wang\\Python_Hahow\\covid19\\time_series_covid19_confirmed_global.csv"
    return pd.read_csv(file_path)
    ### END SOLUTION

In [212]:
covid19_time_series_confirmed = import_covid19_time_series_confirmed()
type(covid19_time_series_confirmed)
covid19_time_series_confirmed.shape
covid19_time_series_confirmed

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/12/22,1/13/22,1/14/22,1/15/22,1/16/22,1/17/22,1/18/22,1/19/22,1/20/22,1/21/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,158511,158602,158639,158678,158717,158826,158974,159070,159303,159516
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,224569,226598,228777,230940,232637,233654,236486,239129,241512,244182
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,223806,224383,224979,225484,226057,226749,227559,228918,230470,232325
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,28899,28899,29888,29888,29888,29888,29888,29888,32201,33025
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,91907,92581,93302,93524,93694,93974,94275,94779,95220,95676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,1958719,1975444,1991484,2007862,2023546,2023546,2062128,2078087,2094802,2110737
276,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,473302,474234,474234,474234,474234,476328,477151,478084,479343,480583
277,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,10220,10233,10233,10233,10252,10352,10408,10449,10507,10585
278,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,289415,291582,293695,295028,296132,296817,298032,299172,299971,300587
279,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,224433,225084,225637,225637,226078,226460,226460,226887,227552,227961

## 149. 擷取日期的欄位名稱

定義函數 `extract_date_columns()` 將 `time_series_covid19_confirmed_global.csv` 中 `Province/State`、`Country/Region`、`Lat`、`Long` 以外日期的欄位名稱擷取出來。

- 使用 `import_covid19_time_series_confirmed()` 函數。
- 運用 `DataFrame.columns`
- 運用 slicing 技巧。
- 將預期輸出寫在 `return` 之後。

In [220]:
def extract_date_columns() -> pd.core.indexes.base.Index:
    """
    >>> date_columns = extract_date_columns()
    >>> type(date_columns)
    pandas.core.indexes.base.Index
    >>> date_columns.size
    731
    >>> date_columns
    Index(['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
           '1/28/20', '1/29/20', '1/30/20', '1/31/20',
           ...
           '1/12/22', '1/13/22', '1/14/22', '1/15/22', '1/16/22', '1/17/22',
           '1/18/22', '1/19/22', '1/20/22', '1/21/22'],
          dtype='object', length=731)
    """
    ### BEGIN SOLUTION
    covid19_time_series_confirmed = import_covid19_time_series_confirmed()
    datafram_columns = covid19_time_series_confirmed.columns
    return datafram_columns[4:]
    ### END SOLUTION

In [221]:
date_columns = extract_date_columns()
type(date_columns)
date_columns.size
date_columns

Index(['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       '1/28/20', '1/29/20', '1/30/20', '1/31/20',
       ...
       '1/12/22', '1/13/22', '1/14/22', '1/15/22', '1/16/22', '1/17/22',
       '1/18/22', '1/19/22', '1/20/22', '1/21/22'],
      dtype='object', length=731)

## 150. 解析日期的欄位名稱

定義函數 `parse_date_columns()` 將 `time_series_covid19_confirmed_global.csv` 中日期的欄位名稱擷取出來轉換為 `DatetimeIndex`

- 使用 `extract_date_columns()` 函數。
- 使用 `pd.to_datetime()` 函數。
- 將預期輸出寫在 `return` 之後。

In [222]:
def parse_date_columns() -> pd.core.indexes.datetimes.DatetimeIndex:
    """
    >>> date_columns = parse_date_columns()
    >>> type(date_columns)
    pandas.core.indexes.datetimes.DatetimeIndex
    >>> date_columns.size
    731
    >>> date_columns
    DatetimeIndex(['2020-01-22', '2020-01-23', '2020-01-24', '2020-01-25',
                   '2020-01-26', '2020-01-27', '2020-01-28', '2020-01-29',
                   '2020-01-30', '2020-01-31',
                   ...
                   '2022-01-12', '2022-01-13', '2022-01-14', '2022-01-15',
                   '2022-01-16', '2022-01-17', '2022-01-18', '2022-01-19',
                   '2022-01-20', '2022-01-21'],
                  dtype='datetime64[ns]', length=731, freq=None)
    """
    ### BEGIN SOLUTION
    date_columns = extract_date_columns()
    return pd.to_datetime(date_columns)
    ### END SOLUTION

In [225]:
date_columns = parse_date_columns()
type(date_columns)
date_columns.size
date_columns

DatetimeIndex(['2020-01-22', '2020-01-23', '2020-01-24', '2020-01-25',
               '2020-01-26', '2020-01-27', '2020-01-28', '2020-01-29',
               '2020-01-30', '2020-01-31',
               ...
               '2022-01-12', '2022-01-13', '2022-01-14', '2022-01-15',
               '2022-01-16', '2022-01-17', '2022-01-18', '2022-01-19',
               '2022-01-20', '2022-01-21'],
              dtype='datetime64[ns]', length=731, freq=None)